# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
dist/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python (if backend exists)
venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/